# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*$py.class

# ===========================
# Virtual Environment
# ===========================
venv/
env/
ENV/

# ===========================
# Django
# ===========================
db.sqlite3
media/
staticfiles/

# ===========================
# Environment Variables
# ===========================
.env

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Python Cache
# ===========================
.pytest_cache/
.mypy_cache/

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Build Files
# ===========================
build/
dist/
*.egg-info/

# ===========================
# IDE
# ===========================
.idea/